<!DOCTYPE html>


<div class="container-fluid rz rz-user">

    <div>

        <div ng-show="model.welcomeUser" class="alert alert-info">
            Welcome back {{welcomeUser.firstName}}
        </div>

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>


        <h2>Login</h2>

        <label for="username"> Username</label>
        <input name="username"
               ng-model="model.user.username"
               type="text"
               class="form-control"
               id="username"
               placeholder="username"/>

        <label for="password"> Password</label>
        <input name="password"
               ng-model="model.user.password"
               type="password"
               class="form-control"
               id="password"
               placeholder="password"/>

        <a class="btn btn-default btn-block btn-primary"
           ng-click="model.login(model.user)"
           role="button">Login</a>

        <a class="btn btn-default btn-block btn-success"
           href="#!register"
           role="button">Register</a>


    </div>


</div>
