<!DOCTYPE html>


<div class="container-fluid rz rz-user">

    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>

    <h2>Register</h2>


    <label for="username"> Username</label>
    <input name="username"
           ng-model="user.username"
           class="form-control"
           id="username"
           type="text"
           placeholder="username"/>

    <label for="password"> Password</label>
    <input name="password"
           type="password"
           ng-model="user.password"
           class="form-control"
           id="password"
           placeholder="passwprd"/>

    <label for="password2"> Verify Password</label>
    <input name="password2"
           type="password"
           ng-model="user.password2"
           class="form-control"
           id="password2"
           placeholder="verify password"/>

    <a class="btn btn-default btn-block btn-primary"
       ng-click="model.registerUser(user)"
       role="button">Register</a>

    <a class="btn btn-default btn-block btn-danger"
       href="#!/login"
       role="button">Cancel</a>
</div>
