<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IT</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
            <form ng-show="!currentUser" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" ng-model="model.user.userEmail">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" ng-model="model.user.password">
                </div>
                <button type="submit" class="btn btn-success" ng-click="model.login(model.user)">Sign in</button>

            </form>

            <div ng-show="currentUser" class="navbar-form navbar-right">
                <a href="#!profile/userId">Welcome, {{currentUser.firstName}}</a>
                <button class="btn btn-danger" ng-click="model.signOut(model.user)">Sign out</button>

            </div>
        </div>
    </div><!--/.navbar-collapse -->
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>IT Loaner System</h1>
        <p> Computer broken? Need a dongle? Want a charger to go? IT loaner system can help to find the item you
            want</p>
        <p><a ng-show="!currentUser" class="btn btn-primary btn-lg" href="#!/login" role="button">Getting started
            &raquo;</a></p>
        <p><a ng-show="!currentUser" class="btn btn-default btn-lg" href="#!/login" role="button">Login with Google
            &raquo;</a></p>
        <p><a ng-show="currentUser.isAdmin" class="btn btn-primary btn-lg" ng-click="model.adminLink(currentUser)"
              role="button">My work platform</a></p>
        <p><a ng-show="currentUser && !currentUser.isAdmin" class="btn btn-primary btn-lg" href="#!/changPassword/{{currentUser._id}}"
              role="button">Change My Password</a></p>

    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>All available equipment</h2>


            <div ng-show="currentUser">
                <p><a class="btn btn-default" href="#!/availableEquipmentList/{{currentUser._id}}" role="button">View
                    All available equipment &raquo;</a></p>
            </div>

            <div ng-show="!currentUser">
                <p><a class="btn btn-default" href="#!/availableEquipmentList/notLogin" role="button">View All available
                    equipment &raquo;</a></p>
            </div>

        </div>

        <!--<div ng-show="currentUser" class="col-md-4">-->
            <!--<h2>Equipment reserved by me</h2>-->
            <!--<h6 ng-show="model.reservedEquipments">Here is the list of your reserved list, if it is not empty, an Admin will contact you soon</h6>-->
            <!--<div class="container-fluid">-->
                <!--<h3 ><span ng-repeat="reserve in model.reservedEquipments" class="label label-default rz-list-icon">{{reserve.name}}</span></h3>-->

            <!--</div>-->
            <!--&lt;!&ndash;<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>&ndash;&gt;-->
        <!--</div>-->

        <!--<div ng-show="currentUser" class="col-md-4">-->
            <!--<h2>Equipment Loaned by me</h2>-->
            <!--<h6>Here is the list of your reserved list, if it is not empty, please let us know if you want return</h6>-->


            <!--<h3 ><span ng-repeat="loan in model.loanedEquipments" class="label label-default rz-list-icon">{{loan.name}}</span></h3>-->



        <!--</div>-->

    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->

