<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IT</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
            <form ng-show="!model.userId" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" ng-model="model.user.userEmail">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" ng-model="model.user.password">
                </div>
                <button type="submit" class="btn btn-success" ng-click="model.login(model.user)">Sign in</button>

            </form>

            <div ng-show="model.userId" class="navbar-form navbar-right">
                <a href="#!profile/userId">Welcome, {{model.user.firstName}}</a>
                <button class="btn btn-danger" ng-click="model.logout()">Sign out</button>

            </div>
        </div>
    </div><!--/.navbar-collapse -->
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>IT Loaner System</h1>
        <p> Computer broken? Need a dongle? Want a charger to go? IT loaner system can help to find the item you
            want</p>
        <h3>Weather in Boston now is</h3>
        <div class="row  container-fluid">


            <div class="panel panel-default col-xs-3">
                <div class="panel-heading">Main</div>
                <div class="panel-body">
                    {{model.curWea}}
                </div>
            </div>

            <div class="panel panel-default col-xs-3">
                <div class="panel-heading">Low(F)</div>
                <div class="panel-body">
                    {{model.minTemp}}
                </div>
            </div>

            <div class="panel panel-default col-xs-3">
                <div class="panel-heading">high(F)</div>
                <div class="panel-body">
                    {{model.maxTemp}}
                </div>
            </div>

            <div class="panel panel-default col-xs-3">
                <div class="panel-heading">Current(F)</div>
                <div class="panel-body">
                    {{model.curTemp}}
                </div>
            </div>

        </div>


        <p><a ng-show="!model.userId" class="btn btn-primary btn-lg" href="#!/login" role="button">Getting started
            &raquo;</a></p>
        <p>
            <a ng-show="!model.userId" href="loanerApp/auth/google" class="btn btn-danger btn-lg">
                Login with
                <span class="fa fa-google-plus"></span>
                &raquo;
            </a>
        </p>

        <p><a ng-show="model.userId && model.user.isAdmin" class="btn btn-primary btn-lg" ng-click="model.adminLink(model.user)"
              role="button">My work platform</a></p>
        <p><a ng-show="model.userId && !model.user.isAdmin" class="btn btn-primary btn-lg"
              href="#!/changPassword/"
              role="button">Change My Password</a></p>

    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>All available equipment</h2>


            <div ng-show="model.user">
                <p><a class="btn btn-default" href="#!/availableEquipmentList/user" role="button">View
                    All available equipment &raquo;</a></p>
            </div>

            <div ng-show="!model.user">
                <p><a class="btn btn-default" href="#!/availableEquipmentList/" role="button">View All available
                    equipment &raquo;</a></p>
            </div>

        </div>

        <div ng-show="model.user" class="col-md-6">
            <h2>Equipment reserved by me</h2>
            <h6 ng-show="model.reservedEquipments">Here is the list of your reserved list, if it is not empty, an Admin
                will contact you soon</h6>
            <div class="container-fluid">
                <h3><span ng-repeat="reserve in model.reservedEquipments" class="label label-default rz-list-icon">{{reserve.name}}</span>
                </h3>

            </div>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <!--<div ng-show="currentUser" class="col-md-4">-->
        <!--<h2>Equipment Loaned by me</h2>-->
        <!--<h6>Here is the list of your reserved list, if it is not empty, please let us know if you want return</h6>-->


        <!--<h3 ><span ng-repeat="loan in model.loanedEquipments" class="label label-default rz-list-icon">{{loan.name}}</span></h3>-->


        <!--</div>-->

    </div>


    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->

