<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page List</title>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>

</head>

<body>

<div class="rz rz-page">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">


            <a class="navbar-brand" href="../website/templates/website-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">Pages</a>
            <a class="navbar-brand rz-navbar-right-icon" href="page-new.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>


        </div>
    </nav>


    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">

                <a href="../widget/templates/widget-list.view.client.html">
                    Blog Post
                </a>
                <a href="page-edit.html">
                    <span class="pull-right glyphicon glyphicon-cog"> </span>
                </a>

            </li>

            <li class="list-group-item">

                <a href="../widget/templates/widget-list.view.client.html">
                    Blogs
                </a>
                <a href="page-edit.html">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </li>

            <li class="list-group-item">

                <a href="../widget/templates/widget-list.view.client.html">
                    Home
                </a>
                <a href="page-edit.html">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">

                <a href="../widget/templates/widget-list.view.client.html">
                    About
                </a>
                <a href="page-edit.html">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </li>
            <li class="list-group-item">

                <a href="../widget/templates/widget-list.view.client.html">
                    Contact us
                </a>
                <a href="page-edit.html">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </li>

        </ul>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a class="navbar-brand rz-navbar-right-icon" href="../user/templates/profile.view.client.html">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </nav>
</div>


</body>
</html>