<ul class="list-group">

    <li class="list-group-item">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/HEADING">
            Header
        </a>
    </li>



    <li class="list-group-item">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/IMAGE">
            Image
        </a>
    </li>

    <li class="list-group-item">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/YOUTUBE">
            Youtube
        </a>
    </li>




</ul>