<div class="rz rz-widget">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">Wigdet Edit</a>
            <a class="navbar-brand rz-navbar-right-icon"
               ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>

        </div>
    </nav>


    <div class="container-fluid rz-contact">
        <div class="row">
            <!--<div class="col-sm-4 hidden-xs rz-split-view-left">-->

              <!--<ng-include src = "'views/widget/templates/widget-chooser.view.client.html'"></ng-include>-->
                <!---->
            <!--</div>-->

            <!--<div class="col-xs-12 col-sm-8 pull-right rz-split-view-right">-->


                <div ng-switch="model.widget.widgetType">
                    <div ng-switch-when="HEADING">
                        <ng-include src="'views/widget/templates/editors/widget-HEADING-edit.view.client.html'">
                    </div>
                    <div ng-switch-when="IMAGE">
                        <ng-include src="'views/widget/templates/editors/widget-IMAGE-edit.view.client.html'">
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <ng-include src="'views/widget/templates/editors/widget-YOUTUBE-edit.view.client.html'">
                    </div>
                    <div ng-switch-when="HTML">
                        <ng-include src="'views/widget/templates/editors/widget-HTML-edit.view.client.html'">
                    </div>
                </div>
            <!--</div>-->




        </div>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a class="navbar-brand rz-navbar-right-icon" href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </nav>

</div>