<div class="rz rz-widget">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">


            <a class="navbar-brand" href="../../page/page-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">Widgets</a>

            <a class="navbar-brand rz-navbar-right-icon" href="../widget-chooser.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>


        </div>
    </nav>


    <div class="container-fluid">


        <div ng-repeat="widget in model.widgets" class="rz-widget-page">

            <div class="rz-widget-toolbar">
                <a href="../widget-youtube.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

            <div ng-switch="widget.widgetType">
                <div ng-include="model.getWidgetIncludeUrl(widget.widgetType)"></div>


            </div>

            <!--<div class="rz-widget-page">-->

            <!--<div class="rz-widget-toolbar">-->
                <!--<a href="../widget-heading.html">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->

            <!--<h3>My Subtitle</h3>-->


        <!--</div>-->

        <!--<div class="rz-widget-page">-->

            <!--<div class="rz-widget-toolbar">-->
                <!--<a href="../widget-image.html">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->

            <!--<img src="https://www.w3schools.com/w3css/img_forest.jpg"></img>-->

        <!--</div>-->

        <!--<div class="rz-widget-page videoWrapper">-->

            <!--<div class="rz-widget-toolbar">-->
                <!--<a href="../widget-youtube.html">-->
                    <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</a>-->
                <!--<span class="glyphicon glyphicon-align-justify"></span>-->
            <!--</div>-->

            <!--<iframe width="560" height="315"-->
                    <!--src="https://www.youtube.com/embed/OGMXitgRaC4?list=PL_GGiAMracOXEpxjhLR9Kbd5ZS8Ob6buZ"-->
                    <!--frameborder="0" allowfullscreen></iframe>-->

        <!--</div>-->


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">

        <a class="navbar-brand" href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-refresh"></span>
        </a>

        <a class="navbar-brand" href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>

        <a class="navbar-brand rz-navbar-right-icon" href="../../user/templates/profile.view.client.html">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </nav>
</div>