<div class="rz rz-widget">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">Wigdet Edit</a>
            <a class="navbar-brand rz-navbar-right-icon"
               ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>

        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs rz-split-view-left">

                <div class="container-fluid">
                    <ul class="list-group">

                        <li class="list-group-item">
                            <a href="widget-heading-edit.view.client.html">
                                Header
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widget-label.html">
                                Label(Not Create Yet)
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widget-HTML.html">
                                HTML(Not Create Yet)
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widget-text-input.html">
                                Text Input(Not Create Yet)
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widget-link.html">
                                Link(Not Create Yet)
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widget-button.html">
                                Button(Not Create Yet)
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widget-image-edit.view.client.html">
                                Image
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widget-youtube-edit.view.client.html">
                                Youtube
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widget-data-table.html">
                                Data Table(Not Create Yet)
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a href="widge-repeater.html">
                                Repeter(Not Create Yet)
                            </a>
                        </li>


                    </ul>
                </div>
            </div>


            <div class="col-xs-12 col-sm-8 pull-right rz-split-view-right">
                <div ng-show="model.updateMessage" class="alert alert-info">
                    {{model.updateMessage}}
                </div>



                <div ng-switch="model.widget.widgetType">
                        <div ng-include="model.getRightWidgetTypeUrl(model.widget.widgetType)"></div>

                </div>


                    <a class="btn btn-default btn-block btn-danger"
                       ng-click="model.deleteWidget(model.widgetId)"
                       role="button">Delete</a>

            </div>



        </div>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a class="navbar-brand rz-navbar-right-icon" href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </nav>

</div>