<div class="rz rz-website-new">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="container-fluid">


                <a class="navbar-brand" href="#!/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand" href="#">New Websites</a>
                <a class="navbar-brand rz-navbar-right-icon" ng-click="model.createWebsite(model.website)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>


            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs rz-split-view-left">

                <div class="container-fluid">

                    <div ng-include="'views/website/templates/website-list.component.html'"></div>

                </div>
            </div>


            <div class="col-xs-12 col-sm-8 pull-right rz-split-view-right">

                <label for="name"> Name</label>
                <input name="name"
                       class="form-control"
                       id="name"
                       type="text"
                       ng-model="model.website.name"
                       placeholder="Name"/>

                <label for="descroption"> Discription</label>
                <textarea name="descroption"
                          type="email"
                          class="form-control"
                          rows="5"
                          id="descroption"
                          ng-model="model.website.description"
                          placeholder="Discription"></textarea>


                <a class="btn btn-default btn-block btn-danger"
                   href="#!/user/{{model.userId}}/website"
                   role="button">Cancel</a>

            </div>
        </div>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a class="navbar-brand rz-navbar-right-icon" href="#!/user/{{userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </nav>

</div>
