<div class="container-fluid">
    <label for="name">Name</label>
    <input id="name"
           name="name"
           class="form-control"
           placeholder="Widget Name"
           ng-model="model.widget.name"/>

    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
            ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html']]">
    </div>


    <a class="btn btn-block btn-danger"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>

</div>


