<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           class="form-control"
           type="text"
           id="name"
           ng-model="model.widget.name"
           placeholder="Widget name"/></input>

    <label for="text">Text</label>
    <input name="text"
           class="form-control"
           type="text"
           id="text"
           ng-model="model.widget.text"
           placeholder="Enter Widget Text Here"></input>

    <label for="size">Size</label>
    <input name="size"
           class="form-control"
           id="size"
           ng-model="model.widget.size"
           type="number"
           placeholder="Enter Number Here"></input>

    <a class="btn btn-block btn-danger"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>


</div>