<div>

    <label for="name">Name</label>
    <input name="name"
           class="form-control"
           id="name"
           placeholder="Enter Widget Name Here"/></input>

    <label for="text">Text</label>
    <input name="text"
           class="form-control"
           id="text"
           placeholder="Enter Widget Text Here"></input>

    <label for="url">URL</label>
    <input name="url"
           class="form-control"
           id="url"
           type="url"
           placeholder="Enter Youtube URL Here"></input>

    <label for="width">Width</label>
    <input name="width"
           class="form-control"
           id="width"
           type="number"
           placeholder="Enter Width Here"></input>

</div>