
<div class="container-fluid">

    <label for="name">Name</label>
    <input name="name"
           class="form-control"
           id="name"
           ng-model="model.widget._id"
           placeholder="Widget name"/></input>

    <label for="text">Text</label>
    <input name="text"
           class="form-control"
           id="text"
           ng-model="model.widget.text"
           placeholder="Enter Widget Text Here"></input>

    <label for="url">URL</label>
    <input name="url"
           class="form-control"
           id="url"
           type="url"
           ng-model="model.widget.url"
           placeholder="Enter Image URL Here"></input>

    <label for="width">Width</label>
    <input name="width"
           class="form-control"
           id="width"
           ng-model="model.widget.width"
           placeholder="Enter Image Width here, ending with %"></input>


    <label for="image-upload">Image</label>
    <form action="/api/upload"   method="post" enctype="multipart/form-data" id="image-upload">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a class="btn btn-info btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search">
        Search Image
    </a>



    <a class="btn btn-block btn-danger"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>



</div>