<div>

    <label for="widget-image-name">Name</label>
    <input name="widget-image-name"
           class="form-control"
           id="widget-image-name"
           placeholder="Widget name"/></input>

    <label for="widget-image-text">Text</label>
    <input name="widget-image-text"
           class="form-control"
           id="widget-image-text"
           placeholder="Enter Widget Text Here"></input>

    <label for="widget-image-url">URL</label>
    <input name="widget-image-url"
           class="form-control"
           id="widget-image-url"
           type="url"
           placeholder="Enter Image URL Here"></input>

    <label for="widget-image-width">Width</label>
    <input name="widget-image-width"
           class="form-control"
           id="widget-image-width"
           type="number"
           placeholder="Enter % Here, Only number please"></input>

    <label for="widget-image-upload">Upload</label>
    <input name="widget-image-upload"
           class="form-control"
           id="widget-image-upload"
           type="file"
           placeholder=""></input>

    <a class="btn btn-default btn-block btn-success"
       href="wigdet-image.html"
       role="button">Upload Image</a>


</div>