

<div class="rz rz-page">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">


            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">Pages</a>
            <a class="navbar-brand rz-navbar-right-icon" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>


        </div>
    </nav>


    <div class="container-fluid">

        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item">

                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                   {{page.name}}
                </a>
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                    <span class="pull-right glyphicon glyphicon-cog"> </span>
                </a>

            </li>
        </ul>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <a class="navbar-brand rz-navbar-right-icon" href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </nav>
</div>
